html {
  box-sizing: border-box;
  overflow-x: clip;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: cadetblue;
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: center;

  font-size: 12px;
  font-weight: 500;
  line-height: calc(20 / 12);
  letter-spacing: 0.04em;
  background-size: contain;
  background-attachment: fixed;
  overflow-x: clip;

  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

textarea {
  resize: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(200, 211, 127, 0.5);
  color: inherit;
}

.navigation {
  padding: 8px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;

  width: 200px;

  &__item {
    transform: all;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      color: rgba(200, 211, 127, 0.8);
    }
  }

  span {
    font-size: 22px;

    &:hover {
      text-shadow: rgb(200, 211, 127) 0 -2px;
      cursor: context-menu;
    }
  }
}

.counter-section {
  width: 400px;
  text-align: center;

  display: flex;
  flex-direction: column;

  button {
    opacity: 0.9;
    font-size: 30px;
    padding: 24px 4px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 8px;

    transform: all;
    transition-duration: 500ms;

    &:hover {
      opacity: 0.5;
      background-image: url("../img/btnbg.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: center;
      font-size: 0px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
